.container{
    max-height: 60vh;
    height: 45rem;
    max-width: 100rem;
    width: 23rem;
    border-radius: 1rem;
    background-color: rgb(218, 218, 218);
    
}
.topCard{
  height: 80%;
  width: 100%; 
}

.capa{
    height: 100%;
    width: 100%;
    transition: 1s ease;
    filter: brightness(90%);
}
.capa:hover{
    filter: brightness(120%);
}
.bottomCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 650px) {
    .container{
        max-height: 65vh;    
    }
  }